<footer class="footer">
  <small>
    <%= t "footer_txt1" %>
    <a href="http://www.railstutorial.org/"><%= t "rails_tut" %></a>
    <%= t "footer_txt2" %>
    <a href="http://www.michaelhartl.com/"><%= t "author_book" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t "about"), about_path %></li>
      <li><%= link_to (t "contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "news" %></a></li>
    </ul>
  </nav>
</footer>
